@font-face
{
    font-family: 'DMSans';
    src: url('/fonts/DMSans-variable.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: 'DMSans';
    src: url('/fonts/DMSans-Italic-Variable.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}